name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Restore Cache
      uses: actions/cache@preview
      id: cache
      with:
        path: ~/.cache/go-build/
        key: ${{ runner.os }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: install
      run: GO111MODULE=off go get golang.org/x/tools/cmd/goimports honnef.co/go/tools/cmd/staticcheck

    - name: Test
      run: |
        make fmt && git diff --exit-code
        make imports && git diff --exit-code
        make static-check
        make test
